/* src/styles/dams.css - Dams page specific styles */

.dam-section {
  text-align: center;
}
/* 
.dam-section h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.dam-section .showcase-image {
  margin: 1rem auto;
}

.dam-section p {
  text-align: left;
  max-width: 800px;
  margin: 1rem auto;
} */